body * {margin: 0 auto;}
div {width: 250px; height: 150px; background-color: beige;
border: 1px solid black; margin-top: 30px;}
div h1 {border-bottom: 1px solid black; padding: 5px;
    font-weight: 700; font-size: 1.25rem;
}
div p {border-bottom: 1px solid black; padding: 5px;
font-size: 1.05rem;}
div ul {}
div ul li {margin: 5px;}