#t 
{
    margin: 30px;
    width: 1200px;
    border-top: 2px solid black;
    letter-spacing: -0.02em;
    text-align: center;
}
#t thead {
    background-color: #fafafa;
    height: 180px;
}
#t thead tr th span {}
#t thead .tr1 {}
#t thead .tr1 .logo
{
    background-image: url(../images/pay_table_02.png);
    background-position: 80px ;
    background-repeat: no-repeat;
}
#t thead tr th
{ 
    line-height: 1.5rem;
}
#t thead .tr1 th span 
{

}
#t thead .tr2 th
{
    border-top: 1px dashed #999;
}
#t thead tr th 
{
    
}
#t thead tr th span 
{
    color: gainsboro;
}
#t tbody {}
#t tbody tr 
{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
#t tbody tr th 
{
    line-height: 60px;
}
#t tbody tr th em 
{
    color: #ec018c;
    font-weight: 700;
}
#t tbody tr th em span 
{
    font-weight: 700;
}