@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); */
html,body,h1,h2,h3,h4,h5,h6,/* 제목태그 */
p,ul,ol,li,blockquote,dl,dd,dt,address,video,/* 블록태그 */
q, strong,em,del,sup,sub,s,code,img,a,/* 인라인태그 */
table, tr, th, td, thead, tbody, tfoot,/* 테이블태그 */
form,fieldset,legend,input,button,label,textarea,select,option,/* 폼태그 */
header,main,section,article,footer,aside,nav,figure,figcaption,/* 시멘틱태그 */
div,span/* 그룹태그 */

{
/* 글꼴적용법1,사용자 컴퓨터에 내장된 글꼴 불러오기
font-family:'맑은 고딕',sans-serif;
font-family:'맑은 고딕',sans-serif;
 */
 /*글꼴 적용 방법 2 웹 주소 글꼴을 가져오는 법!*/
font-family: 'Noto Sans KR', sans-serif;
/* font-family: 'Nanum Gothic', sans-serif; */
margin: 0; padding: 0;
font-size: 1.0rem;
font-weight: normal;
font-style: normal;
line-height: 1.0;
list-style: none;
}

a {text-decoration: none; color: black;}
table,tr,th,td {border-collapse:collapse;}
button {cursor: pointer; border: none; background:none;}