body {background:url(../images/7598163.jpg); background-size: cover; background-attachment: fixed;}
body > * {}
main {display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; height: 100vh;}
main .photo {width: 200px; height: 200px; border-radius: 50%; overflow: hidden; border: 5px solid #fff;}
main .photo img {width: 100%;}
main h1 {margin: 30px 0;}
main .loading {background-color: #fff; width: 260px; height: 12px; border-radius: 10px;}
main .loading .bar {}
main p {margin: 30px 0;}
main .sns {display: flex;}
main .sns a {width: 25px;}
main .sns a img {width: 100%;}
main .sns a img .tip {}
main .gnb {}
main .gnb span {}
main .gnb span:nth-of-type(1) {}
main .gnb span:nth-of-type(2) {}
main .gnb span:nth-of-type(3) {}

/* sns사이즈 25 */